<!DOCTYPE html>
<html>
<head>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
<menu>
    <ul class="container">
        <li style="display: inline-block"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li style="display: inline-block"><a asp-controller="Home" asp-action="About">About</a></li>
        <li style="display: inline-block"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
</menu>
<div class=container style="background-color: blueviolet">
    @ViewBag.title
</div>
@RenderBody()
    



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
